/*General*/
h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}   

/*For login.html*/
.loginContainer {
    background-color: #f2f2f2;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

input[type="text"] {
    width: 92%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #dddddd;
}

button[type="loginButton"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    width: 100%;
}

/*For register.html*/
.registerContainer {
    background-color: #f2f2f2;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

button[type="registerButton"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    width: 100%;
}

/*For reservation.html*/
.tableContainer {
    margin: 0 auto;
    width: 60%; 
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}

